.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 30px;
    text-align: center;
}

.confirm-table {
    margin-bottom: 0px;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table__inner {
    width: 80%;
}

.confirm-table__row {
    height: 80px;
}

.confirm-table__row-inquiry {
    height: 150px;
}

.confirm-table__header, .confirm-table__header-inquiry {
    padding: 15px;
    width: 25%;
    text-align: left;
    font-weight: bold;
}

.confirm-table__header-inquiry {
    vertical-align: top;
}

.confirm-table__text, .confirm-table__text-inquiry {
    padding: 15px;
}

.confirm-table__text input, .confirm-table__text-inquiry textarea {
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__text-inquiry textarea {
    height:150px;
}

.confirm-table__text-name {
    height: 80px;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 15px;
    display: flex;
}

.confirm-table__text-name input {
    margin: 0px;
    width: 60px;
    outline: none;
    border: none;
}

.form__button {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.form__button-submit {
    width: 25%;
    height: 50px;
    border: none;
    border-radius: 6px;
    background: #000;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.form__button-correct {
    width: 10%;
    height: 30px;
    border: none;
    font-size: 13px;
    text-decoration: underline;
    background-color: transparent;
    cursor: pointer;
}
